# Application mode: dev | prod
# Used to toggle debug logs and optimize build assets
MODE=prod

# Port the application will listen on
PORT=3020

# System domain (SEO & Absolute Links). Do not change.
NEXT_PUBLIC_SITE=auth.qucore.io

# SSR links to API
API_BASE=http://<SERVICE_NAME>:<PORT>