# Application mode: dev | prod
# Used to toggle debug logs and optimize build assets
MODE=dev

# Port the application will listen on
PORT=3020

# System domain (SEO & Absolute Links). Do not change to localhost.
NEXT_PUBLIC_SITE=auth.qucore.io

# Internal Auth API URL
# In dev: http://localhost:5020
# In prod: https://api.auth.<domain>.com
AUTH_URL=http://localhost:5020